Repository hwinther-tietoevry/test, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, github, documentation, backend, frontend, dependencies, platform

.github/labeler.yml:

workflow:
  - .github/workflows/*

github:
  - .github/*

documentation:
  - docs/*
  - "**/*.md"

backend:
  - "src/backend/**"

frontend:
  - "src/frontend/**"

dependencies:
  - "src/**/*.lock.json"
  - "src/**/yarn.lock"

platform:
  - "src/platform/**"

Remove assignee
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Add changes
  .github/workflows/auto-author-assign.yml
  .github/workflows/promotion-pull-request.yml
Labels: workflow

Add auto merge squash for feature PRs
  .github/workflows/enable-auto-merge.yml
Labels: workflow

Update tag.yml
  .github/workflows/tag.yml
Labels: workflow

Update CODEOWNERS
  .github/CODEOWNERS
Labels: github

Update CODEOWNERS (#14)
  .github/CODEOWNERS
Labels: github

TEST-1234 Add githook config to support reuse
  .githooks/commit-msg
  .githooks/config.sh
  .githooks/pre-commit
  .githooks/prepare-commit-msg
Labels: none

TEST-1234 Add gitignore
  .gitignore
Labels: none

TEST-1234 Add backend CI
  .github/workflows/backend-ci.yml
Labels: workflow

TEST-1234 Add backend test project
  src/backend/.dockerignore
  src/backend/Directory.Build.props
  src/backend/WebApi.sln
  src/backend/WebApi/Controllers/WeatherForecastController.cs
  src/backend/WebApi/Dockerfile
  src/backend/WebApi/Program.cs
  src/backend/WebApi/Properties/launchSettings.json
  src/backend/WebApi/WeatherForecast.cs
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/appsettings.Development.json
  src/backend/WebApi/appsettings.json
  src/backend/WebApi/packages.lock.json
Labels: backend, dependencies

TEST-1234 Fix release drafter PR trigger
  .github/workflows/release-drafter.yml
Labels: workflow

TEST-1234 Fix auto merge not valid for PR in draft stage
  .github/workflows/enable-auto-merge.yml
Labels: workflow

TEST-1234 Add backend to dependabot
  .github/dependabot.yml
Labels: github

TEST-1234 Add gitversion
  src/backend/Directory.Build.props
  src/backend/WebApi/packages.lock.json
Labels: backend, dependencies

TEST-1234 Add sleep step
  .github/workflows/enable-auto-merge.yml
Labels: workflow

TEST-1234 Fix release drafter PR trigger
  .github/workflows/release-drafter.yml
Labels: workflow

TEST-1234 Add sleep step
  .github/workflows/enable-auto-merge.yml
Labels: workflow

TEST-1234 Fix auto merge not valid for PR in draft stage
  .github/workflows/enable-auto-merge.yml
Labels: workflow

TEST-1234 Add backend to dependabot
  .github/dependabot.yml
Labels: github

TEST-1234 Add gitversion
  src/backend/Directory.Build.props
  src/backend/WebApi/packages.lock.json
Labels: backend, dependencies

TEST-1234 Add backend CI
  .github/workflows/backend-ci.yml
Labels: workflow

TEST-1234 Add backend test project
  src/backend/.dockerignore
  src/backend/Directory.Build.props
  src/backend/WebApi.sln
  src/backend/WebApi/Controllers/WeatherForecastController.cs
  src/backend/WebApi/Dockerfile
  src/backend/WebApi/Program.cs
  src/backend/WebApi/Properties/launchSettings.json
  src/backend/WebApi/WeatherForecast.cs
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/appsettings.Development.json
  src/backend/WebApi/appsettings.json
  src/backend/WebApi/packages.lock.json
Labels: backend, dependencies

TEST-1234 Add githook config to support reuse
  .githooks/commit-msg
  .githooks/config.sh
  .githooks/pre-commit
  .githooks/prepare-commit-msg
Labels: none

TEST-1234 Add gitignore
  .gitignore
Labels: none

Update CODEOWNERS (#14)
  .github/CODEOWNERS
Labels: github

TEST-1234 Add backend CI
  .github/workflows/backend-ci.yml
Labels: workflow

TEST-1234 Add sleep step
  .github/workflows/enable-auto-merge.yml
Labels: workflow

TEST-1234 Add gitignore
  .gitignore
Labels: none

TEST-1234 Add backend test project
  src/backend/.dockerignore
  src/backend/Directory.Build.props
  src/backend/WebApi.sln
  src/backend/WebApi/Controllers/WeatherForecastController.cs
  src/backend/WebApi/Dockerfile
  src/backend/WebApi/Program.cs
  src/backend/WebApi/Properties/launchSettings.json
  src/backend/WebApi/WeatherForecast.cs
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/appsettings.Development.json
  src/backend/WebApi/appsettings.json
  src/backend/WebApi/packages.lock.json
Labels: backend, dependencies

TEST-1234 Fix auto merge not valid for PR in draft stage
  .github/workflows/enable-auto-merge.yml
Labels: workflow

TEST-1234 Add gitversion
  src/backend/Directory.Build.props
  src/backend/WebApi/packages.lock.json
Labels: backend, dependencies

TEST-1234 Add githook config to support reuse
  .githooks/commit-msg
  .githooks/config.sh
  .githooks/pre-commit
  .githooks/prepare-commit-msg
Labels: none

TEST-1234 Add backend to dependabot
  .github/dependabot.yml
Labels: github

TEST-1234 Fix release drafter PR trigger
  .github/workflows/release-drafter.yml
Labels: workflow

Update Program.cs
  src/backend/WebApi/Program.cs
Labels: backend

TEST-2 Fix uncomment dependabot section
  .github/dependabot.yml
Labels: github

TEST-2 Fix auto merge does not need external dependency
  .github/workflows/enable-auto-merge.yml
Labels: workflow

TEST-2 Remove superflous comment
  .github/workflows/auto-author-assign.yml
Labels: workflow

TEST-2 Add PR exists check to all promotion jobs
  .github/workflows/promotion-pull-request.yml
Labels: workflow

TEST-2 Fix base ref name
  .github/workflows/promotion-pull-request.yml
Labels: workflow
