Repository hwinther-tietoevry/test, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, github, documentation, backend, frontend, dependencies, platform

.github/labeler.yml:

workflow:
  - .github/workflows/*

github:
  - .github/*

documentation:
  - docs/*
  - "**/*.md"

backend:
  - "src/backend/**"

frontend:
  - "src/frontend/**"

dependencies:
  - "src/**/*.lock.json"
  - "src/**/yarn.lock"

platform:
  - "src/platform/**"

TEST-2 Fix switch from patch to minor increment
  .github/workflows/tag.yml
Labels: workflow

TEST-2 Add gitversion output to CI deploy
  .github/workflows/backend-ci.yml
Labels: workflow

TEST-2 Add separate branches to gitversion config
  src/backend/GitVersion.yml
Labels: backend

TEST-3 Fix auto merge trigger
  .github/workflows/enable-auto-merge.yml
Labels: workflow

TEST-3 Add global rule
  .github/CODEOWNERS
Labels: github

TEST-3 Fix comment out feature branch promotion as it is not used in production
  .github/workflows/promotion-pull-request.yml
Labels: workflow

TEST-3 Add checkout step
  .github/workflows/enable-auto-merge.yml
Labels: workflow

TEST-5 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github, documentation

TEST-6 Add extra output to workflow
  .github/workflows/tag.yml
Labels: workflow

TEST-6 Add test
  .github/workflows/tag.yml
Labels: workflow

TEST-7 Fix diff check and add condition
  .github/workflows/tag.yml
Labels: workflow

TEST-8 Fix simplify workflow
  .github/workflows/tag.yml
Labels: workflow

TEST-8 Fix comment
  .github/workflows/tag-pr-comment.yml
Labels: workflow

TEST-8 Fix workflow titles
  .github/workflows/tag-pr-comment.yml
  .github/workflows/tag.yml
Labels: workflow

TEST-8 Fix enable the workflow and comment out broken step
  .github/workflows/tag-pr-comment.yml
Labels: workflow

TEST-8 Add PR comment step
  .github/workflows/promotion-pull-request.yml
  .github/workflows/tag-pr-comment.yml
  .github/workflows/tag.yml
Labels: workflow

TEST-8 Add PR title change
  .github/workflows/promotion-pull-request.yml
  .github/workflows/tag.yml
Labels: workflow

TEST-8 Fix pr edit step
  .github/workflows/tag-pr-comment.yml
  .github/workflows/tag.yml
Labels: workflow

TEST-9 Add extra push trigger
  .github/workflows/backend-ci.yml
Labels: workflow
